credenciais-aws.txt

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform-provider-*

# Logs
*.log

# Python
__pycache__/
*.pyc
venv/
.env/

# Docker
*.env

# Outros arquivos sensíveis
*.pem
*.key
